<div class="row">
    <div class="col-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-grp">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li><a href="#">Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<dl class="row">
    <dt class="col-sm-3">description</dt>
    <dd class="col-sm-9">definition</dd>
</dl>  
<dl class="row">
    <dt class="col-sm-3">ingredients</dt>
    <dd class="col-sm-9">definition</dd>
</dl>   


