<div class="row mb-3">
    <div class="col">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="#" class="list-group-item clearfix border border-secondary mb-2 me-2" *ngFor="let Recipe of recipes" >
            <div class="float-start">
                <h4 class="list-group-item-heading mb-3">{{Recipe.name}}</h4>
                <p class="list-group-item-text mb-3">{{Recipe.image}}</p>
            </div>
            <span class="float-end">
                <img [src]="Recipe.description" alt="{{Recipe.name}}" class="img-fluid" style="max-height: 7rem;">
            </span>
        </a>
    </div>
</div> <app-recipe-item></app-recipe-item>